20180634_최준혁_과제10(주민번호가리기)

In [1]:
data = '''
park sunje 890901-1074422
kim sunhee 990103-2079912
'''
data2 = '''
홍길동 560922-1089123 02-705-8491
홍길동 560922-1089123 042-7052-8491
김바한솔 911212-1089123 042=705-8491
김연찬 920922-1089123 031-7054-8491
'''

In [2]:
def hide(data):
    data_list = list(data.split(" "))
    flag = 0
    for i in range(len(data)):
        if data[i] == " ":
            flag += 1
            try: 
                for k in range(1,7):
                    int(data[i+k])
            except : continue
            else : 
                sex_num = int(data[i+8])
                sex = "남" if (sex_num in (1,3)) else "여"
                data_list.insert(flag, sex) ; flag += 1
                data_list[flag] = data_list[flag][0:7]+"*******"+data_list[flag][14::]
    return " ".join(data_list)

In [3]:
print(hide(data))

park sunje 남 890901-*******
kim sunhee 여 990103-*******

In [4]:
print(hide(data2))

홍길동 남 560922-******* 02-705-8491
홍길동 남 560922-******* 042-7052-8491
김바한솔 남 911212-******* 042=705-8491
김연찬 남 920922-******* 031-7054-8491