## Pandas

- Just as Numpy provides the basic array data type plus core array operations, pandas defines fundamental structures for working with data an endows them with methods that facilitate operations such as
    - reading in data
    - adjusting indices
    - working with dates and time series
    - sorting, grouping, re-ordering and general data cleaning 
    - dealing with missing values, etc., etc.
    - More sophisticated statistical functionality is left to other packages, such as statsmodels and scikit-learn, which are built on top of pandas.

- widely used python library for data analyzing and collection 
- Consists of two main objects : Series, Dataframe
- publicly available implemented by Wes McKinney (Author of book titled <Python for Data Analysis: Data Wrangling with Pandas, NumPy, and IPython>)
-  Package built on top of Numpy
- complement Numpy's a bit inflexibility on the following (example):
     - attaching label to data
     - missing data handling
     - data grouping 
     - data pivoting
- for full documentation [go to pydata](http://pandas.pydata.org/)

### 1. Data Structures

- pandas provides a set of data structures which include Series, DataFrames. 
    - pd.Series : one column, index
    - DataFrame : multiple columns, index

1.1 Series

- Series are the primary building block of the data structures in pandas, and in many ways a Series behaves similarly to a Numpy array. 
- A Series is initialized using a list, tuple, directly from a Numpy array or using a dictionary.

In [1]:
import numpy as np
import pandas as pd

a = np.array([0.1, 1.2, 2.3, 3.4, 4.5])
s = pd.Series(a)
print(s)
print(type(s))

0    0.1
1    1.2
2    2.3
3    3.4
4    4.5
dtype: float64
<class 'pandas.core.series.Series'>

In [24]:
import numpy as np
import pandas as pd

a = np.array([0.1,1.2,1.2,3.4,4.5])
s = pd.Series(a)
print(s)

0    0.1
1    1.2
2    1.2
3    3.4
4    4.5
dtype: float64

- Series, like arrays, are sliceable. However, unlike a 1-dimensional array, a Series has an additional column – an index – which is a set of values which are associated with the rows of the Series.
- The index is an important part of the utility of the pandas’s data structures (Series and DataFrame) and allows for dictionary-like access using values in the index.

In [2]:
s = pd.Series([0.1, 1.2, 2.3, 3.4, 4.5], index = ['a','b','c','d','e'])
s

a    0.1
b    1.2
c    2.3
d    3.4
e    4.5
dtype: float64

In [31]:
s = pd.Series([1,2,3,4], index= ['ㄱ','ㄴ','ㄷ','ㄹ'])
print(s)
print(s['ㄱ'])
print(s[s>2])
print(s[2:3])

ㄱ    1
ㄴ    2
ㄷ    3
ㄹ    4
dtype: int64
1
ㄷ    3
ㄹ    4
dtype: int64
ㄷ    3
dtype: int64

In [3]:
print(s[0])
print(s['a'])
print(s[['a','c']])
print(s[[0,2]])
print(s[:2])
print(s[s>2])

0.1
0.1
a    0.1
c    2.3
dtype: float64
a    0.1
c    2.3
dtype: float64
a    0.1
b    1.2
dtype: float64
c    2.3
d    3.4
e    4.5
dtype: float64

- In this examples, 'a' and 'c' behave in the same manner as 0 and 2 would in a standard Numpy array.
- The elements of an index do not have to be unique which another way in which a Series generalizes a Numpy array.

In [4]:
s = pd.Series([0.1, 1.2, 2.3, 3.4, 4.5], index = ['a','b','c','a','b'])
s['a']

a    0.1
a    3.4
dtype: float64

- Series can also be initialized directly from dictionaries.

In [5]:
s = pd.Series({'a':0.1 ,'b': 1.2, 'c': 2.3, 'd':3.4, 'e': 4.5})
s

a    0.1
b    1.2
c    2.3
d    3.4
e    4.5
dtype: float64

- Series are like Numpy arrays in that they support most numerical operations.
- However, Series are different from arrays when math operations are performed across two Series. In particular, math operations involving two series operate by aligning indices.
- Indices that do not match are given the value NaN (not a number), and values are computed for all unique pairs of repeated indices.

In [6]:
s1 = pd.Series({'a': 0.1, 'b': 1.2, 'c': 2.3})
s2 = pd.Series({'a': 1.0, 'b': 2.0, 'c': 3.0})
s3 = pd.Series({'c': 0.1, 'd': 1.2, 'e': 2.3})
print(s1+s2)
print(s1+s3)

a    1.1
b    3.2
c    5.3
dtype: float64
a    NaN
b    NaN
c    2.4
d    NaN
e    NaN
dtype: float64

- The underlying Numpy array is accessible through the values property, and the index is accessible the index property.

In [7]:
print(s1.values)
print(s1.index)
s1.index = ['c','d','e']
print(s1)

[0.1 1.2 2.3]
Index(['a', 'b', 'c'], dtype='object')
c    0.1
d    1.2
e    2.3
dtype: float64

1.1.1 Notable attributes and properties

- head and tail

In [8]:
s = pd.Series(np.arange(200))
print(s.head())
print(s.tail())

0    0
1    1
2    2
3    3
4    4
dtype: int32
195    195
196    196
197    197
198    198
199    199
dtype: int32

- isnull (notnull)

In [9]:
s1 = pd.Series({'a': 0.1, 'b': 1.2, 'c': 2.3})
s3 = pd.Series({'c': 0.1, 'd': 1.2, 'e': 2.3})
print((s1+s3).isnull())

a     True
b     True
c    False
d     True
e     True
dtype: bool

- describe

In [10]:
s1 = pd.Series(np.arange(10.0,20.0))
s1.describe()

count    10.00000
mean     14.50000
std       3.02765
min      10.00000
25%      12.25000
50%      14.50000
75%      16.75000
max      19.00000
dtype: float64

- dropna

In [11]:
s1 = pd.Series({'a': 0.1, 'b': 1.2, 'c': 2.3})
s3 = pd.Series({'c': 0.1, 'd': 1.2, 'e': 2.3})
print(s1+s3)
print((s1+s3).dropna())

a    NaN
b    NaN
c    2.4
d    NaN
e    NaN
dtype: float64
c    2.4
dtype: float64

- fillna

In [12]:
print((s1+s3).fillna(0.))

a    0.0
b    0.0
c    2.4
d    0.0
e    0.0
dtype: float64

1.2 DataFrame

- While the Series class is the building block of data structures in pandas, the DataFrame is the work-horse.
- DataFrames collect multiple series in the same way that a spreadsheet collects multiple columns of data.
- A number of methods are available to initialize a DataFrame. The simplest method uses a homogeneous Numpy array.
- Like a Series, a DataFrame contains the input data as well as row labels. However, since a DataFrame is a collection of columns, it also contains column labels (located along the top edge).

In [13]:
df = pd.DataFrame(np.array([[1,2],[3,4]]),columns=['a','b'])
df

   a  b
0  1  2
1  3  4

In [41]:
a = pd.DataFrame(np.array([[1,2,3],[3,4,5]]), columns = ['ads','asd','sdf'],index = ['as','ds'])
print(a)

    ads  asd  sdf
as    1    2    3
ds    3    4    5

In [14]:
df.columns = ['dogs','cats']
df.index = ['bones', 'milk']
df

       dogs  cats
bones     1     2
milk      3     4

1.2.1 Manipulating DataFrames

- The use of DataFrames will be demonstrated using a data set containing a mix of data types using state-level GDP data from the US.
- The data is loaded directly into a DataFrame using read_excel, which will be described later.

In [15]:
state_gdp = pd.read_excel('data/US_state_GDP.xls','Sheet1')
state_gdp.head()

,state_code,state,gdp_2009,gdp_2010,gdp_2011,gdp_2012,gdp_growth_2009,gdp_growth_2010,gdp_growth_2011,gdp_growth_2012,region
0,AK,Alaska,44215,43472,44232,44732,7.7,-1.7,1.7,1.1,FW
1,AL,Alabama,149843,153839,155390,157272,-3.9,2.7,1.0,1.2,SE
2,AR,Arkansas,89776,92075,92684,93892,-2.0,2.6,0.7,1.3,SE
3,AZ,Arizona,221405,221016,224787,230641,-8.2,-0.2,1.7,2.6,SW
4,CA,California,1667152,1672473,1692301,1751002,-5.1,0.3,1.2,3.5,FW

In [35]:
a = pd.read_excel('data/US_state_GDP.xls','Sheet1')
print(type(a))

<class 'pandas.core.frame.DataFrame'>

- Selecting Columns
    - Single columns are selectable using the column name, as in state_gdp['state'], and the value returned in a Series.
    - Multiple columns are similarly selected using a list of column names as in state_gdp[['state_code', 'state']] or equivalently using an Index object.

In [16]:
state_gdp['state_code'].head() # Series로 열선택

0    AK
1    AL
2    AR
3    AZ
4    CA
Name: state_code, dtype: object

In [17]:
state_gdp[['state_code']].head() # DataFrame으로 열선택

  state_code
0         AK
1         AL
2         AR
3         AZ
4         CA

In [18]:
state_gdp[['state_code','state']].head()

  state_code       state
0         AK      Alaska
1         AL     Alabama
2         AR    Arkansas
3         AZ     Arizona
4         CA  California

In [19]:
cols = state_gdp.columns
print(cols[1:3])
state_gdp[cols[1:3]].head()

Index(['state', 'gdp_2009'], dtype='object')

        state  gdp_2009
0      Alaska     44215
1     Alabama    149843
2    Arkansas     89776
3     Arizona    221405
4  California   1667152

- Selecting rows
    - Rows can be selected using standard numerical slices.
    - A function version is also available using iloc[rows] which is identical to the standard slicing syntax.
    - Labeled rows can also be selected using the method loc[label] or loc[list of labels] to elect multiple rows using their label.
    - Rows can also be selected using logical selection using a Boolean array with the same number of elements as the number of rows as the DataFrame.

In [20]:
state_gdp[1:3]

,state_code,state,gdp_2009,gdp_2010,gdp_2011,gdp_2012,gdp_growth_2009,gdp_growth_2010,gdp_growth_2011,gdp_growth_2012,region
1,AL,Alabama,149843,153839,155390,157272,-3.9,2.7,1.0,1.2,SE
2,AR,Arkansas,89776,92075,92684,93892,-2.0,2.6,0.7,1.3,SE

In [21]:
state_gdp.iloc[1:3]

,state_code,state,gdp_2009,gdp_2010,gdp_2011,gdp_2012,gdp_growth_2009,gdp_growth_2010,gdp_growth_2011,gdp_growth_2012,region
1,AL,Alabama,149843,153839,155390,157272,-3.9,2.7,1.0,1.2,SE
2,AR,Arkansas,89776,92075,92684,93892,-2.0,2.6,0.7,1.3,SE

In [22]:
state_long_recession = state_gdp['gdp_growth_2010']<0
state_gdp[state_long_recession]

,state_code,state,gdp_2009,gdp_2010,gdp_2011,gdp_2012,gdp_growth_2009,gdp_growth_2010,gdp_growth_2011,gdp_growth_2012,region
0,AK,Alaska,44215,43472,44232,44732,7.7,-1.7,1.7,1.1,FW
3,AZ,Arizona,221405,221016,224787,230641,-8.2,-0.2,1.7,2.6,SW
33,NV,Nevada,110001,109610,111574,113197,-8.2,-0.4,1.8,1.5,FW
50,WY,Wyoming,32439,32004,31231,31302,3.4,-1.3,-2.4,0.2,RM

- Selecting Rows and Columns

In [23]:
state_gdp[1:3, 4:5]

TypeError: unhashable type: 'slice'

In [ ]:
state_gdp.iloc[1:3, 4:5]

In [ ]:
state_gdp.loc[state_long_recession,'state']

In [ ]:
state_gdp.loc[state_long_recession, ['state','gdp_growth_2009','gdp_growth_2010']]

In [ ]:
state_gdp.iloc[10:15,0] # Slice and scalar

In [ ]:
state_gdp.iloc[10:15,:2] # Slice and slice

- Adding and deleting columnns
    - Columns are added using a dictionary-like syntax (must be pd.Series).
    - Columns can be deleted using the del keyword, using pop(column), or by colling drop()

In [ ]:
columns = ['state_code','gdp_growth_2011','gdp_growth_2012']

state_gdp_copy = state_gdp.copy()
state_gdp_copy = state_gdp_copy[columns]
state_gdp_dropped = state_gdp_copy.drop(['state_code','gdp_growth_2011'], axis=1)
state_gdp_dropped.head()

1.2.2 Notable Properties and Methods

- values and index
- fillna
- sort, sort_index

In [ ]:
df = pd.DataFrame(np.array([[1, 3],[1, 2],[3, 2],[2,1]]), columns=['one','two'])
df

In [ ]:
df.sort_values(by='one')

In [ ]:
df.sort_values(by=['one','two'])

In [ ]:
df.sort_values(by=['one','two'], ascending=[0,1])

- concat and append

In [ ]:
df1 = pd.DataFrame([1,2,3],index=['a','b','c'],columns=['one'])
df2 = pd.DataFrame([4,5,6],index=['c','d','e'],columns=['two'])
pd.concat((df1,df2), axis=1)

In [ ]:
pd.concat((df1,df2), axis=1, join='inner')

- plot

In [ ]:
columns = ['gdp_growth_2011','gdp_growth_2012']

state_gdp[columns].plot()

In [ ]:
state_gdp['gdp_2010'].plot()